.header {
    background: #E0DFDE;
}

.header__inner {
    width: 1512px;
    height: 100px;
    border: 1px solid #E0DFDE;
}

.header__logo {
    color: #8B7969;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin: 30px 0px 10px 0px;
}